body {
    background-color: #ffa500;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
}


/* mobile */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px) {
.center {
    height: auto;
    width: 95%;
}
}